*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: none;
    color: white;
}

main{
    position: absolute;
    right: 50px;
    padding: 20px;
    background-color: rgba(240, 248, 255, 0.7);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    margin: 0;
    text-align: center;
    margin-top: 60px;
    color: black;
    border-radius: 20px;
}

main h1{
    margin-bottom: 20px;
}
main input,button{
    width: 70%;
    margin-top: 5px;
}

main button{
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: rgb(84, 188, 222);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: aliceblue;
    font-weight: bold;
}

main table{
    width: 100%;
    margin-top: 5px;
}

.delete{
    background-color: red;
}